.server-crashes-cache
cache

data/*.bin
modules/*
!modules/.gitkeep

resources/scripts/dummy/*
!resources/scripts/dummy/package.json
!resources/scripts/dummy/resource.toml

altv-crash-handler.exe
altv-crash-handler.so

altv-server.exe
altv-server.so

libnode.dll
libnode.so.108

server.log
