.server-crashes-cache
cache

data/*.bin
modules/*
!modules/.gitkeep

resources/scripts/gamemode/*
!resources/scripts/gamemode/package.json
!resources/scripts/gamemode/resource.toml

altv-crash-handler.exe
altv-crash-handler.so

altv-server.exe
altv-server.so

libnode.dll
libnode.so.108

server.log
